/* Google Fonts - Poppins */
* {
    margin: 0;
    padding: 0;
}

.banner {
    height: 100vh;
    background: url('img/banner.jpg');
    background-size: cover;
    background-position: center;
}

.slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    margin-top: 40px;
}

.ppdb:hover {
    color: white;
}

.profile {
    margin-top: -100px;
}

.intro {
    background-color: #0D6EFD;
    transition: transform .2s;
}

.intro:hover {
    transform: scale(1.1);
}

.pesan {
    text-align: justify;
}

.visi {
    background-color: #0D6EFD;
}

.teacher {
    background-color: #0D6EFD;
}

.card {
    border: none;
}

.card-image img {
    padding-bottom: 10px;
    border: none;
    border-radius: 30px 30px 0 0;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.disppear {
    animation: vanish 1s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* .teacher {
    transition: transform .2s;
}

.teacher:hover {
    transform: scale(1.1);
} */